<div class="container">
  <div class="row">
    <div class="col-12">
      <h6>Congratulations!! You have selected a broker for this Request</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p> Say hi to <%= @bid.user.name %></p>
    </div>
  </div>  
</div>