<div class="row">
  <div class="col-4">
    <%= link_to 'Your Details', edit_borrower_request_path(@borrower_request) , class: 'btn btn-info btn-arrow-right' %>
  </div>
  <div class="col-4">
    <%= link_to 'Invite Brokers', borrower_request_path(@borrower_request) , class: 'btn btn-info btn-arrow-right'%>
  </div>
  <div class="col-4">
    <%= link_to 'View Proposals', '#' , class: 'btn btn-info btn-arrow-right'%>
  </div>    
</div>
<%= render 'form', borrower_request: @borrower_request %>