<div class="panel panel-default offset-md-12 col-md-12 borrower_form_block">
  <div class="panel-heading ">
     <h4 class="text-center">Post a Request</h4>
    <h4 >YOUR DETAILS</h4>
    <hr/>
  </div>
 <div class="panel-body borrower_form">
  <%= render 'form', borrower_request: @borrower_request %>
  </div>
</div>