<div class="container">
  <div class="row">
    <div class="col-4">
      <p  class="profile_block_title">First Name</p>
      <p><%= current_user.first_name %></p>
    </div>
    <div class="col-4">
      <p  class="profile_block_title">Last Name</p>
      <p><%= current_user.last_name %></p>
    </div>     
  </div>
  <div class="row">
    <div class="col-12">
      <p  class="profile_block_title">Email</p>
      <p><%= current_user.email  %></p>
    </div>     
  </div>
</div>
