$font_main: 'Gilroy', sans-serif;

$color_main: #333132;
$color_white: #ffffff;
$color_gray: #8a8c8f;
$color_light_gray: #d1d2d4;
$color_black: #000000;
$color_green: #0cb175;
$color_purple: #382c75;
$color_blue: #187bac;
$color_red: #f2744d;
$color_orange: #faa61a;
$color_background: #f1f2f2;

$content_margin: 20px;
$content_background: $color_background;

$desktop_large: 1200;
$desktop_small: 1024;

$tablet_large: 800;
$tablet_small: 640;

$phone_large: 450;
$phone_small: 360;