<div style="background-color:#ffffff;color: grey; margin-bottom: 20px; padding: 25px; text-align: center;">
  <p>
  <%= link_to "TERMS OF USE", '#', {:style=>"color: grey !important; font-family: 'Roboto', sans-serif; font-size: 11px; text-decoration: underline;"} %>
  &nbsp;&nbsp;
  <%= link_to "PRIVACY POLICY", '#', {:style=>"color: grey !important; font-family: 'Roboto', sans-serif; font-size: 11px; text-decoration: underline;"} %>
  </p>  
  <p>&copy; <%= Time.now.year %> MortgageBrokers.com. All Rights Reserved.</p>
</div>