<div class="row">
  <div class="col-12">
    <p class="bid_left_block_title"><%= get_place(@my_deal.place)%></p> 
      <p class="bid_borrowers_block_title">Posted <span> <%= time_ago_in_words(@my_deal.published_at).gsub("about","")+" ago" %></span></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render partial: 'bid_request_left_block' %>
    </div>
    <div class="col-9">
      <%= render partial: 'bid_request_right_block' %>
    </div>    
  </div>
</div>