.flag {
	display: inline-block;
	width: 26px;
	height: 20px;
	margin: 0 4px;
	border: 1px solid #cdd4d9;
	background: 50% 50% no-repeat;
	background-size: 22px 16px;
	vertical-align: middle;
	position: relative;
	font-size: 0;
	line-height: 0;

	&_cn {
		background-image: url(../images/flag_cn.svg);
	}

	&_de {
		background-image: url(../images/flag_de.svg);
	}

	&_gb {
		background-image: url(../images/flag_gb.svg);
	}

	&_pl {
		background-image: url(../images/flag_pl.svg);
	}

	&_ru {
		background-image: url(../images/flag_ru.svg);
	}

}