.pagination_box {
	display: block;
	margin-bottom: 40px;
	text-align: center;

	.fixed {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}

	.pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 0;
		padding-left: 20px;

		span, a {
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			border: 1px solid $color_light_gray;
			background-color: $color_white;
			color: $color_black;
			font-size: 10px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			transition: 0.2s;
			margin: 0 5px;
			box-sizing: border-box;
		}

		span, a:hover {
			border-color: transparent;
			background-color: $color_black;
			color: $color_white;
		}

	}

	.button_wrapper, .top {
		flex-grow: 1;
		flex-basis: 0;
	}

	.button {
		text-align: left;
		color: $color_green;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
		transition: 0.2s;

		.icon {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			fill: $color_green;
			margin-right: 6px;
			top: -2px;
			max-width: 16px;
			max-height: 16px;
		}

		&:hover {
			color: darken($color_green, 20%);

			.icon {
				fill: darken($color_green, 20%);
			}

		}

		&.orange {
			color: $color_orange;

			.icon {
				fill: $color_orange;
			}

			&:hover {
				color: $color_green;

				.icon {
					fill: $color_green;
				}

			}

		}

	}
	
	.top {
		text-align: right;
		color: $color_gray;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-right: 20px;
		position: relative;
		cursor: pointer;
		transition: 0.2s;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			width: 11px;
			height: 13px;
			margin-top: -7px;
			background: url(../images/ico_arrow_top.svg) 0 0 no-repeat;
			background-size: contain;
		}

		&:hover {
			opacity: 0.8;
		}

	}

	@include desktop_small {
		margin-bottom: 20px;

		.main_box & {

			.pagination {
				padding-left: 20px;
			}

		}

		.pagination {
			padding-left: 30px;
		}

	}

	@include phone_large {
		margin-bottom: 12px;

		.main_box & {

			.pagination {
				padding-left: 0;
			}

			.top, .button_wrapper {
				margin-top: 18px;
			}

		}

		.brokers_box + & {
			margin-top: 14px;
		}

		.fixed {
			flex-wrap: wrap;
		}

		.pagination {
			width: 100%;
			order: 1;
			flex-grow: 1;
			box-sizing: border-box;
			padding-left: 0;
		}

		.top, .button_wrapper {
			order: 2;
			flex-grow: 1;
			flex-basis: auto;
			margin-top: 24px;
			box-sizing: border-box;
		}

	}

}