<div class="header_box">

	<div class="header">

		<div class="info">

			<a class="name" href="/">MortgageBrokers<span>.com</span></a>

			<div class="type">

				<div class="label">For <span>borrowers</span></div>

				<div class="select">
					<a class="item" href="index.html">For brokers</a>
				</div>

			</div>

		</div>

		<div class="logo_wrapper">

			<a class="logo" href="index.html">
				<svg xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#ico_logo"></use>
				</svg>
			</a>

		</div>

		<div class="navigation">

			<a class="item" href="/">My deals</a>

			<a class="item green" href="/">Post a request</a>

			<div class="item login" data-modal="login">Log in</div>

		</div>

		<div class="menu_btn"></div>

	</div>

</div>